<div>
 Every <input ng-change="optionsChange()" min="1" class = "year" type="number" ng-model="input.year" ng-init="input.year=''"> year(s) in: <br>
 <table class="centeredItem dayTable">
  <tr>
    <td ng-repeat ="year in ['Jan','Feb','Mar','Apr']" ng-click="selectYear(year)" ng-class="{ active : selectedYears.indexOf(year) != -1 }">
      {{year}}
    </td>
  </tr>
  <tr>
    <td ng-repeat ="year in ['May','Jun','Jul','Aug']" ng-click="selectYear(year)" ng-class="{ active : selectedYears.indexOf(year) != -1 }">
      {{year}}
    </td>
  </tr>
  <tr>
    <td ng-repeat ="year in ['Sept', 'Oct', 'Nov', 'Dec']" ng-click="selectYear(year)" ng-class="{ active : selectedYears.indexOf(year) != -1 }">
      {{year}}
    </td>
  </tr>
</table>
<div ng-init="switch=false">
  <div >
    <input type="checkbox" ng-model="switch" value="On" ng-click="changeSwitch()"> On the: <br>

    <div class="btn-group" uib-dropdown dp-a > 
      <button id="button1" type="button"  ng-disabled="switch !=true" class="btn btn-default" uib-dropdown-toggle >
        {{choices[selectedItem]}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="button1">
        <li role="menuitem" ng-repeat="i in ['first','second','third','fourth','fifth']">
          <a href ng-click=callSelect($index);setLeft($index)>{{i}}</a>
        </li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#" ng-click=callSelect(5);setLeft(5)>last</a></li>
      </ul>
    </div>
    <div class="btn-group" uib-dropdown dp-b > 
      <button id="button2" type="button"  ng-disabled="switch !=true" class="btn btn-default" uib-dropdown-toggle >
        {{week[index]}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="button2">
        <li role="menuitem" ng-repeat="i in ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']">
          <a href ng-click=selectIndex($index);setRight($index)>{{i}}</a>
        </li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#" ng-click=selectIndex(7);setRight(7)>day</a></li>
        <li role="menuitem"><a href="#" ng-click=selectIndex(8);setRight(8)>weekday</a></li>
        <li role="menuitem"><a href="#" ng-click=selectIndex(9);setRight(9)>weekend day</a></li>
      </ul>
    </div>
  </div>   
</div>
</div>